
@import "tailwindcss";


@font-face {
  font-family: 'font-game';
  src: url("../fonts/Aldrich-Regular.ttf");
}


.font-game {
    font-family: 'font-game', sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}